@import url("./base.css");

html, body {
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100vh;
  width: 100vw;

  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 2px 2px 8px black;
}
